<section class="container">
  <div class="info-container">
    <h1 class="title">Asociația Culturală F SPOT SOCIETY</h1>
    <p class="description">
      Avem nevoie de FILME PENTRU COPII ȘI ADOLESCENȚI!<br>
      Ne poți ajuta redirecționând 3,5% din impozitul tău. Nu te costă nimic, dar pentru noi și generațiile viitoare înseamnă enorm! ✨
    </p>
    <div class="buttons-container">
      <button class="primary">Formular Persoane Fizice</button>
      <button class="secondary">Contract Persoane Juridice</button>
    </div>
  </div>
  <div class="image-container">
    <img class="image" src="assets/logo BAKING FILM color pentru alb.png" alt="about">
  </div>
</section>
