<section
  class="container"
  appAnimateOnScroll
  (visible)="isVisible = true"
  [@slideInDown]="isVisible ? 'visible' : 'hidden'">
  <div class="info-container">
    <h2 class="title">Asociația Culturală<br> F SPOT SOCIETY</h2>
    <p class="description">
      Avem nevoie de FILME PENTRU COPII ȘI ADOLESCENȚI!<br>
      Ne poți ajuta redirecționând 3,5% din impozitul tău. Nu te costă nimic, dar pentru noi și generațiile viitoare înseamnă enorm! ✨
    </p>
    <div class="buttons-container">
      <button class="primary" (click)="openLink(FORMULAR_PERSOANE_FIZICE)">Formular Pers. Fizice</button>
      <button class="secondary" (click)="openLink(CONTRACT_PERSOANE_JURIDICE)">Contract Pers. Juridice</button>
    </div>
  </div>
  <div class="image-container">
    <img class="image" src="assets/about.jpg" alt="about">
  </div>
</section>
