<section class="container">
  <div class="header">
    <div class="info-container">
      <div class="info">
        <img class="logo" src="assets/about.jpg" alt="F Spot Society logo" />
        <p>F Spot Society</p>
      </div>
    </div>
    <div class="links-container">
      <h3>Linkuri rapide</h3>
      <ul>
        <li>
          Despre noi
        </li>
        <li>
          Echipa
        </li>
        <li>
          Catalog
        </li>
      </ul>
    </div>
    <section class="social-media-container">
      <h3>Social media F Spot Society</h3>
      <i class="fab fa-instagram" (click)="openLink(INSTAGRAM)"></i>
      <i class="fab fa-facebook-square" (click)="openLink(FACEBOOK)"></i>
    </section>
  </div>
  <div class="copyright-container">
    <p>Copyright 2026 <strong>F Spot Society / ꩜𝟹Vision</strong>.</p>
  </div>
</section>
