#navbar-container {
	width: 100%;
	height: 120px;
	position: fixed;
	z-index: 9999;
	background-color: var(--primary-color);

	display: grid;
	grid-template-columns: 1fr 4fr 5fr;
	justify-content: center;
	align-items: center;
	padding: 10px 10px;

	@media (max-width: 768px) {
		grid-template-columns: 1fr;
	}

	.navbar-row1 {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;


    img {
      &:hover {
        cursor: pointer;
      }
    }
	}

	.navbar-row2 {
		ul {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			list-style: none;

      li {
      display: flex;
      flex-direction: row;
      }
		}

    &:hover {
      cursor: pointer;
    }
	}

	.sidenav-container {
		margin-top: 150px;
		position: absolute;
		height: auto;
		width: 70vw;
		max-width: 70vw;
		z-index: 11;
		background-color: #fff;
		border: 2px solid black;
		box-shadow: 9px 9px 2px 0px;
		animation: slideInWholeContainer 0.2s ease-in-out forwards;

		@keyframes slideInWholeContainer {
			from {
				transform: translateX(-100%);
			}

			to {
				transform: translateX(0);
			}
		}

		ul {
			display: flex;
			flex-direction: column;
			list-style: none;

			li {
				margin: 15px 10px;
				text-transform: uppercase;
				font-weight: bold;
				opacity: 0;
				transform: translateX(0);
				animation: slideInListItem 0.2s ease-out forwards;
				animation-delay: calc(var(--li-index) * 0.1s);

        display: flex;
        flex-direction: row;

			}

			li:nth-child(1) {
				--li-index: 1;
			}

			li:nth-child(2) {
				--li-index: 2;
			}

			li:nth-child(3) {
				--li-index: 3;
			}

			li:nth-child(4) {
				--li-index: 4;
			}
		}
	}
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: rgba(0, 0, 0, 0.5);
	z-index: 10;
}
