// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */
$primary-color: #ffef41;
$secondary-color: #f5f5f5;
$ternary-color: #2452b6;
$border-color: #101324;
$text-color: #101324;
$hover-primary: #ffef41;
$hover-secondary: #ffef41;

// Optional: Define other theme colors
$background-color: #fafcfc;
$text-color: #101324;

// Use CSS variables (optional)
:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --ternary-color: #{$ternary-color};
  --text-color: #{$text-color};
  --border-color: #{$border-color};
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  @media (max-width: 768px) {
    padding: 20px 20px;
  }
}

.title,
.description,
.sub-title {
  padding: 5px 0;
}

button {
  margin: 10px 0px;
  height: 40px;
  cursor: pointer;
  font-size: 12px;
  padding: 10px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

button.sidenav-button {
  display: flex;
  align-items: center;
  color: $ternary-color;
  background-color: transparent;
  border: 0px solid $border-color;
}

button.primary {
  background-color: $ternary-color;
  color: $background-color;
  border: 2px solid $ternary-color;
}

button.secondary {
  background-color: $background-color;
  color: $text-color;
  margin-left: 10px;
  border: 2px solid $ternary-color;
}

button.ternary {
  background-color: $background-color;
  color: $text-color;
}

button.primary:hover {
  background-color: $hover-primary;
}

button.secondary:hover {
  background-color: $hover-secondary;
}

button.ternary:hover {
  text-decoration: underline;
}

img.icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
  aspect-ratio: 1;
}

img.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1;
}

img.logo {
  width: 100px;
  height: auto;
  margin: 10px;
  cursor: pointer;
}

li {
  list-style: none;
  &:hover {
    color: $ternary-color;
  }
}
