<div
  class="grid"
  appAnimateOnScroll
  (visible)="isVisible = true"
  [@slideInUp]="isVisible ? 'visible' : 'hidden'">
  <div class="card" *ngFor="let project of PROJECTS" [class.expanded]="project.isExpanded">

    <div class="image">
      <img [src]="project.image" />
    </div>

    <div class="text" [class.collapsed]="!project.isExpanded">
      <h2>{{ project.title }}</h2>

      <p class="description">
        {{ project.description }}
      </p>
    </div>

    <button (click)="toggle(project)">
      {{ project.isExpanded ? ' ˄ ' : ' ˅ ' }}
    </button>

    <div class="social">
      <i class="fab fa-instagram" (click)=openLink(project.instagram)></i>
      <i class="fab fa-facebook-square" (click)="openLink(project.facebook)"></i>
    </div>
  </div>
</div>
