<section class="container">
  <div class="image-container">
    <img class="image" src="assets/about.jpg" alt="about">
  </div>
  <div class="info-container">
    <h1 class="title">Ce facem❓</h1>
    <ul class="description">
      <li>☆ Creăm filme care contează,  pentru copii și adolescenți.</li>
      <li>☆ Sprijinim tinerii să-și descopere vocea prin cinema și artă.</li>
      <li>☆ Luptăm pentru un peisaj cultural mai dinamic, mai autentic și mai aproape de realitatea lor.
    </ul>

    <p class="description">
     F Spot Society este o asociație culturală care crede că poveștile bune pot schimba lumea. 🎥 <br>
     Ne-am propus să aducem în fața publicului filme fresh, captivante și relevante pentru copii și adolescenți, care să-i inspire, să-i distreze și să-i ajute să vadă lumea cu alți ochi.<br>
     Ne place să spunem povești cu suflet, energie și impact, iar proiectele noastre sunt gândite special pentru noile generații.
    </p>
  </div>
</section>
